/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.darkblock {
    max-width:100%;
    background-color: rgb(238, 238, 238);
}

.container h1 {
    color:darkblue;
}